<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page_title %}{{ page_title | escape }} · {% endif %}{{ shop.name | escape }}</title>
  {{ content_for_header }}
  {{ 'opl.css' | asset_url | stylesheet_tag }}
</head>
<body>
  {% section 'opl-header' %}
  {{ content_for_layout }}
</body>
</html>